.container {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  color: #0080FF;
  text-decoration: none;
  padding: 0 1rem;
  background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #0080FF 50%,
    #0080FF);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;

  &:hover {
    background-position: 0 0;
    color: #3d3d3d;
    }

  span:first-of-type {
    color: #fff;
  }
}
